body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div .formHead {
  background-color: #82CE2B;
  color: white;
  padding: 20px 10px 20px 30px;
}

.text-reset {
    --mdb-text-opacity: 1;
    color: inherit!important;
}

.treetable-sm th, .treetable-sm td {
    padding: 0.5rem 1.4rem;
}