body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div .formHead {
  background-color: #82CE2B;
  color: white;
  padding: 20px 10px 20px 30px;
}

.text-reset {
    --mdb-text-opacity: 1;
    color: inherit!important;
}

.treetable-sm th, .treetable-sm td {
    padding: 0.5rem 1.4rem;
}

.autocomplete-custom-item-content {
  display: flex;
  flex-direction: column;
}
.autocomplete-custom-item-subtitle {
  font-size: 0.8rem;
}
li.autocomplete-no-results {
  font-size: 0.9rem;
  font-style: italic;
}
.navbar-nav .active a.nav-link {
  color: var(--mdb-navbar-active-color);
}